<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
    <add name="flaskhandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Code\Python\python.exe|D:\Code\Python\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="FlaskApp">
          <match url="(.*)" />
          <action type="Rewrite" url="/api.py/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="app.app" />
    <add key="PYTHONPATH" value="D:\Code\ADM_HR_STO_V3\api.py" />
  </appSettings>
</configuration>
