<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
    <add name="flaskhandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="[PUT YOUR PYTHON PATH HERE]|[PUT YOUR LIB WSGI PATH HERE]" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="FlaskApp">
          <match url="(.*)" />
          <action type="Rewrite" url="/api.py/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="app.app" />
    <add key="PYTHONPATH" value="[PUT YOUR PYTHON APP HERE]" />
  </appSettings>
</configuration>
